<!DOCTYPE html>
<html lang="ko" xmlns:https="">
<head>
    <meta charset="UTF-8">
    <title>Fila 공식 온라인 스토어 header</title>
    <link rel="stylesheet" href="../../CSS/public.css">
    <link rel="stylesheet" href="../../CSS/layout/header.css">


    <script src="https://kit.fontawesome.com/d19fdaba43.js" crossorigin="anonymous"></script>
    <script src="../../JS/layout/header.js" defer></script>
<!--    ////////////////defer 적으면 domtree가 만들어지고 불러옴 순서가 맞게불러옴-->
</head>
<body>

<div class="coupon_info_container">
    <span>FILA 카카오 플러스친구 추가 시 10% 쿠폰 </span>
    <button type="button">
    </button>
</div>


<header>
    <a class="home_btn" href="#">
        <img src="../../IMAGE/LOGO/images.png" alt="헤더로고">
    </a>

    <ul class="main_menu">
        <li>
            <a href="#">Women</a>
            <div class="sub_menu_container">
                <div>
                    <b class="sub_menu_title">
                        <a href="#">의류</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">반팔</a>
                            <a href="#">바람막이/집업</a>
                            <a href="#">맨투맨/후디</a>
                            <a href="#">긴팔</a>
                            <a href="#">쇼츠</a>
                            <a href="#">팬츠</a>
                            <a href="#">브라탑</a>
                            <a href="#">스커트/원피스</a>
                            <a href="#">트레이닝셋업</a>
                            <a href="#">테니스</a>
                            <a href="#">러닝</a>
                            <a href="#">Heritage Collection</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title"><a href="#">신발</a></b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">라이프스타일</a>
                            <a href="#">테니스</a>
                            <a href="#">러닝</a>
                            <a href="#">샌들/슬리퍼</a>
                            <a href="#">에샤페</a>
                            <a href="#">리트모</a>
                            <a href="#">글리오</a>
                            <a href="#">하레핀</a>
                            <a href="#">인터런</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title"><a href="#">용품</a></b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">테니스</a>
                            <a href="#">피클볼</a>
                            <a href="#">백팩</a>
                            <a href="#">메신저/크로스백</a>
                            <a href="#">숄더/짐백</a>
                            <a href="#">슬링백/힙색</a>
                            <a href="#">모자</a>
                            <a href="#">양말</a>
                            <a href="#">기타</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title"><a href="#">언더웨어</a></b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">BEST</a>
                            <a href="#">패키지</a>
                            <a href="#">쿨웨이브</a>
                            <a href="#">스포르트/스포츠웨어</a>
                            <a href="#">드로즈</a>
                            <a href="#">트렁크</a>
                            <a href="#">스포츠</a>
                            <a href="#">파자마</a>
                            <a href="#">이지웨어</a>
                            <a href="#">Accessories</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title"><a href="#">스포츠</a></b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">테니스</a>
                            <a href="#">러닝</a>
                            <a href="#">트레이닝</a>
                            <a href="#">피트니스</a>
                            <a href="#">피클볼</a>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#">Men</a>
            <div class="sub_menu_container">
                <div>
                    <b class="sub_menu_title">
                        <a href="#">의류</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">반팔</a>
                            <a href="#">바람막이/집업</a>
                            <a href="#">맨투맨/후디</a>
                            <a href="#">긴팔</a>
                            <a href="#">쇼츠</a>
                            <a href="#">팬츠</a>
                            <a href="#">트레이닝셋업</a>
                            <a href="#">테니스</a>
                            <a href="#">러닝</a>
                            <a href="#">Heritage Collection</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title"><a href="#">신발</a></b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">라이프스타일</a>
                            <a href="#">테니스</a>
                            <a href="#">러닝</a>
                            <a href="#">샌들/슬리퍼</a>
                            <a href="#">에샤페</a>
                            <a href="#">리트모</a>
                            <a href="#">하레핀</a>
                            <a href="#">인터런</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title"><a href="#">용품</a></b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">테니스</a>
                            <a href="#">피클볼</a>
                            <a href="#">백팩</a>
                            <a href="#">메신저/크로스백</a>
                            <a href="#">숄더/짐백</a>
                            <a href="#">슬링백/힙색</a>
                            <a href="#">모자</a>
                            <a href="#">양말</a>
                            <a href="#">기타</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title"><a href="#">언더웨어</a></b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">BEST</a>
                            <a href="#">패키지</a>
                            <a href="#">쿨웨이브</a>
                            <a href="#">스포르트/스포츠웨어</a>
                            <a href="#">드로즈</a>
                            <a href="#">트렁크</a>
                            <a href="#">스포츠</a>
                            <a href="#">파자마</a>
                            <a href="#">이지웨어</a>
                            <a href="#">Accessories</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title"><a href="#">스포츠</a></b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">테니스</a>
                            <a href="#">러닝</a>
                            <a href="#">트레이닝</a>
                            <a href="#">피클볼</a>
                    </ul>
                </div>
            </div>
        </li>
        <li><a href="#">Kids</a>
            <div class="sub_menu_container">
                <div>
                    <b class="sub_menu_title">
                        <a href="#">의류</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">FILA KIDS❤TEENIEPING</a>
                            <a href="#">상하의 셋업</a>
                            <a href="#">티셔츠</a>
                            <a href="#">쇼츠</a>
                            <a href="#">팬츠/레깅스</a>
                            <a href="#">바람막이/집업/자켓</a>
                            <a href="#">후드티/맨투맨</a>
                            <a href="#">스커트</a>
                            <a href="#">원피스</a>
                            <a href="#">스윔웨어</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title"><a href="#">신발</a></b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">어반크릭샌들</a>
                            <a href="#">리틀이에샤페</a>
                            <a href="#">레인저/레인저코어</a>
                            <a href="#">인터런 키즈</a>
                            <a href="#">휠라꾸미</a>
                            <a href="#">샌들</a>
                            <a href="#">운동화(130~160mm)</a>
                            <a href="#">운동화(170~249mm)</a>
                            <a href="#">레인부츠</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title"><a href="#">용품</a></b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">전체보기</a>
                            <a href="#">26 신학기 책가방</a>
                            <a href="#">책가방</a>
                            <a href="#">보조가방</a>
                            <a href="#">모자</a>
                            <a href="#">양말</a>
                            <a href="#">기타</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li><a href="#">Tennis</a>
            <div class="sub_menu_container">
                <div>
                    <b class="sub_menu_title">
                        <a href="#">여성</a>
                    </b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">의류</a>
                            <a href="#">신발</a>
                            <a href="#">용품</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title"><a href="#">남성</a></b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">의류</a>
                            <a href="#">신발</a>
                            <a href="#">용품</a>
                        </li>
                    </ul>
                </div>

            </div>
        </li>
        <li><a href="#">F.H.S</a>
            <div class="sub_menu_container">
                <div>
                    <b class="sub_menu_title">
                        <a href="#">FILA Heritage Collection</a></b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">SS26</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title">
                        <a href="#"><img src="../../IMAGE/정보3.webp"></a></b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">1911 & Everyday Since</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <b class="sub_menu_title">
                        <a href="#"><img src="../../IMAGE/정보2.webp"></a></b>
                    <ul class="sub_menu">
                        <li>
                            <a href="#">Inspiration from FILA's Roots</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>

    </ul>

    <nav>
        <ul>
            <li>
                <a href="#">
                    <i class="fa-solid fa-map-location-dot"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-regular fa-user"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-bag-shopping"></i>
                </a>
            </li>
        </ul>
    </nav>


</header>
</body>
</html>