.arrow_button {
    height: 40px;
    width: 40px;
    padding: 4px 32px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
/* border 가 있는 형태 */
.arrow_button.border{
    border: 1px solid var(--color-deep-black);
}
/* rounded 형태 */
.arrow_button.rounded{
    border-radius: 16px;
}
:root{
    --main-x-padding: 32px;
    --main-y-padding: 52px;
}
/*********************************/


.coupon_info_container{
    position: fixed;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    font-weight: bold;
    background-color: blue;
    color: white;
    z-index: 9999;
}
.coupon_info_container > button{
    position: absolute;
    right: 20px;
    background: unset;
    border: none;
    line-height: 30px;
}

/******************************************/
header{
    position: absolute;
    width: 100%;
    top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 48px;
}
header > .home_btn > img{
    width: 50px;
    height: 50px;
}

header > .main_menu{
    display: flex;
    width: 100%;
    justify-content: center;
}
header > .main_menu > li{
    padding: 4px 8px;
    text-align: left;
    cursor: pointer;
    &:hover > .sub_menu_container{
        display: flex;
    }

    /* 폰트넣기*/
}
header > .main_menu > li > a{
    text-decoration: none; /*underline 제거*/
    color: black;
    font-size: var(--font-body-lg-size);
    font-weight: 500;
    line-height: var(--font-body-lg-line-height);
    letter-spacing: var(--font-display-lg-letter-spacing);
    padding: 4px 0;
    &:hover{
        border-bottom: 2px solid white;
    }
}


header > nav > ul{
    display: flex;
}
nav > ul > li{
    margin: 0 12px;
}
nav > ul > li  > a{
    color: black;
    font-size: 30px;
}


/********************************/
header .sub_menu_container{
    display: flex;
    /*display: none;*/
    justify-content: center;
    transform: translateY(100%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 32px 0;
    cursor: default;
}
header .sub_menu_container > div{
    width: 200px;
}
header .sub_menu_title{
    display: block;
    font-size: 12px;
    margin-bottom: 24px;
    text-align: left;
}
header .sub_menu_title a{
    font-size: 14px;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}
header .sub_menu_title a:hover{
    text-decoration: underline;
    color: inherit;
}
header .sub_menu{}
header .sub_menu > li{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
header .sub_menu > li a {
    text-align: left;
    font-size: 14px;
    text-decoration: none;
    color: black;
    &:hover{
        text-decoration: underline;
    }
}