#main {
    display: flex;
    height: 100vh;
}
#main_info{
    margin-left: 0px;
}
#main > div{
    flex: 1;
}
#main > div > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#main > .main_info{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}
/****************************************/
#main .information{
    width: 60%;
}
.tag{
    border-radius: 32px;
    border: 1px solid black;
    font-size: inherit;
    padding: 2px 12px;
}
#main .information .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: var(--font-body-md-size);
}
#main .information .header .share{
    border: unset;
    background: unset;
    cursor: pointer;
    font-size: larger;
}

#main .information .title{
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: normal;
}
/*******************************/
#main .information .group{
    margin-bottom: 24px;
}
#main .information .group a{
    :hover{
        text-decoration: none;
        border-bottom: 1px black solid;
    }
}
#main .information .group li{
    display: inline-block;
    list-style: none;
    margin-right: 4px;
}
/*******************************/
.accordion{
    border: 1px solid black;
    border-radius: 24px;
    position: relative;
    font-size: var(--font-body-md-size);
}
.accordion > .head{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 12px 16px;
    background: white;
    font-size: var(--font-body-md-size);
}
.accordion > details .body{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    z-index: 10;
}
.accordion details > summary:first-of-type {
    display: list-item;
    counter-increment: list-item 0;
    list-style: none;
}

/******************************************/
#main .information .size{
    background-color: white;
    margin-bottom: 12px;
}
#main .size > details .head{
    font-size: var(--font-body-md-size);
    padding: 12px 24px;
}
#main .size > details .body > button{
    width: 100%;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid black;
    padding: 8px 0;
    font-size: 14px;
}
/*******************************/
#main .information .cart{
    border: 1px solid black;
    border-radius: 24px;
    background-color: var(--color-primary);
    color: white;
}
#main .information .cart > button{
    font-size: var(--font-body-md-size);
    width: 100%;
    display: flex;
    padding: 12px 24px;
    justify-content: space-between;
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}

/********************************************************/
#detail{
    position: relative;
    display: flex;
    padding: 48px 24px;
}
#detail > div{
    flex: 1;
    padding: 24px;
}
/****************************************/
#detail .image_container{
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    width: 800px;       /* 핵심 */
    height: 800px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;      /* 가운데 */
}

#detail .image_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#detail .information .text{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 50px;
    color: gray;
    margin-right: 48px;
}
#detail .information .sub_text{
    font-size: 16px;
    font-weight: normal;
    color: gray;
}
#detail .information .sub_information{
    margin-bottom: 100px;
}
/****************************************/

#detail .accordion{
    padding: unset;
    border: none;
    margin: 8px 0;
}
#detail .accordion > .head{
    padding: 8px 0;
    border-bottom: 1px solid black;
}
#detail .accordion .head summary{
    font-size: var(--font-body-md-size);
    margin-bottom: 8px;
}

details > summary:first-of-type {
    display: list-item;
    counter-increment: list-item 0;
    list-style: none;
}

#detail .accordion > .body{
    display: block;
}
#detail .accordion div ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
/*******************************************/
.product_information > div {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 12px;
    align-items: start;
}
.product_information > div > span:first-child {
    font-weight: inherit;
    color: black;
}

.product_information > div > span:last-child {
    word-break: keep-all;
    line-height: 3;
    color: gray;
}
/***************************************************/
#detail .accordion .fit_container{
    display: flex;
}
#detail .accordion .fit_container > div{
    flex: 1;
    border: 1px solid black;
    padding: 8px;
    &:not(:last-child){
        margin-right: 12px;
    }
}

.accordion .fit_container .fit_container1 {
    border: 2px solid black;
}
.accordion .fit_container .fit_container1 span:first-child {
    font-weight: bolder;
}
#detail .accordion .fit_container > div > span{
    display: block;
    text-align: center;
    margin: 4px 0;
    color: gray;
    margin-bottom: 8px;
}
/*************************************************/
#detail .accordion .progress_container{
    position: relative;
}

#detail .accordion .progress.parent{
    width: 100%;
    height: 15px;
    background-color: black;
    overflow: hidden;
    border-radius: 5px;
}
#detail .accordion .progress.child{
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background-color: greenyellow;
    animation-name: progressbar;
    animation-duration: 1s;
    transform: translateX(-50%);
}
@keyframes progressbar {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(-50%);
    }
}
.spec_container > .spec{
    margin: 80px 0;
}
.spec > b{
    display: inline-block;
    margin-bottom: 10px;
}
.spec > div > span{
    display: inline-block;
    margin-top: 10px;
}
.progress_container span{
    position: absolute;
    transform: translateX(-50%);
    &:nth-child(1){
        left: 0;
        transform: none;
    }
    &:nth-child(2){
        left: 50%;
    }
    &:nth-child(3){
        left: 90%;
    }
}

/*******************************************/
#checkpoint{
    background-color: black;
    padding: 80px 56px;
    margin: 80px auto;
}
#checkpoint .check_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
#checkpoint .check_title > h2 {
    color: white;
    font-size: 24px;
}
#checkpoint .check_title .buttons{
    display: flex;
    gap: 8px;
}

#checkpoint .check_title .buttons > button{
    border-radius: 24px;
    font-size: 24px;
    width: 80px;
    height: 48px;
}
.cardbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#checkpoint .card{
    display: inline-block;
    width: 400px;
    margin-right: 16px;
    color: white;
}
#checkpoint .card .image_container{
    aspect-ratio: 1 / 1;
}
#checkpoint .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 16px;
}
#checkpoint .cardbox .card p{
    margin-top: 16px;
}

/******************************************************/

#model_cut{
    background-color: black;
    padding: 80px 56px;
    align-items: center;
    margin-bottom: 32px;
}
#model_cut > .model_cut_title > h2 {
    color: white;
    font-size: 24px;
    display: inline-flex;
    align-items: center;
}
#model_cut .buttons{
    gap: 8px;
    display: inline-flex;
}
#model_cut .buttons > button{
    border-radius: 24px;
    font-size: 24px;
    width: 80px;
    height: 48px;
}
#model_cut p{
    color: white;
    margin-bottom: 16px;
    font-size: 20px;
}
#model_cut .model_cut_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
#model_cut .image_container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    object-fit: cover;

}
#model_cut .image_container .image_container_card img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 16px;
}

/***************************/
#review {
    margin: 0 48px;
}
#review > h2{
    margin-bottom: 16px;

}
#review > button{
    width: 360px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-primary);
    color: white;
    font-size: var(--font-body-md-size);
    margin-bottom: 16px;
}

#review .rating{
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 16px 0;
}
#review .rating > div{
    padding: 0 48px;
}
#review .average_rating{
    display: flex;
    width: 360px;
    flex-direction: column;
    text-align: center;
    border-right: 1px solid black;
}
#review .average_rating > h3{
    font-size: var(--font-headline-lg-size);
    margin-bottom: 8px;
}
#review .average_rating > h3 i{
    color: pink;
}
#review .average_rating > span{
    display: block;
    margin-top: auto;
    &:last-child{
        color: gray;
    }
}
/***************************************/
#review .total_rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
#review .total_rating{
    flex: 4;
    font-size: var(--font-body-md-size);
    color: black;
}
#review .total_rating > div{
    margin-bottom: 4px;
}
#review .total_rating .title{
    margin-right: 12px;
    font-weight: bold;
}
#review .total_rating .stars{
    display: inline-block;
    color: pink;
}
#review .total_rating .count{
    margin-left: 24px;
}
/*****************************/

hr{
    border-bottom: 1px grey;
}

/********************************/
#review .photo_video{
    margin-bottom: 16px;
}
#review .photo_video > .header{
    margin: 48px 0;
    display: flex;
    justify-content: space-between;
}
#review .photo_video > .header button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    color: gray;
    background-color: white;
}

#review .photo_video > ul{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(8, minmax(200px, 1fr));
}
#review .photo_video .image_container{
    position: relative;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    overflow: hidden;
}
#review .photo_video img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#review .photo_video i{
    position: absolute;
    top: 4px;
    right: 4px;
    color: white;
}
/***************************************/
#review .filter > div{
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
    gap: 24px;
}
#review .sort_container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
#review .sort_container button{
    border: none;
    color: gray;
    background-color: white;
    font-size: 16px;
}
#review .sort_container button:hover{
    color: black;
}
#review .search_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
#review .search_container button{
    border: none;
    color: gray;
    background-color: white;
    font-size: 16px;
}
#review .search_container button:hover{
    color: black;
}
#review .filter .search{
    background-color: white;
    border: 1px gray solid;
    border-radius: 4px;
    padding: 4px 12px;
}
#review .filter .search > input{
    border: none;
    background: none;
}
/**************************/
.dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.dropdown button{
    display: inline-block;
    width: auto;
    border-radius: 8px;
    padding: 8px 12px;
    border: 1px solid gray;
    background: none;
    color: black;
    border-color: darkslategrey;
}

/***************************/
#review .reviews .item{
    display: flex;
}
#review .reviews .item .contents{
    flex: 1;
}
#review .reviews .item .contents .user{
    display: flex;
    align-items: center;
}
#review .reviews .item .contents .user_icon{
    display: inline-block;
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 8px;
}
#review .reviews .item .contents .user_icon > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.options{
    background-color: lightgray;
    margin: 16px 0;
    display: inline-block;
    border-radius: 4px;
    padding: 4px 8px;
}
.options span{
    color: gray;
}
#review .reviews .item .images{
    margin: 24px 0;
}
#review .reviews .item .images > .image_button{
    display: inline-flex;
    gap: 16px;
    border-radius: 32px;
    background-color: white;
    width: 100px;
    height: 100px;
    border: none;
}
#review .reviews .item .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

























